[Desktop Entry]
Type=Application
Name=Autonocraft
Comment=Voxel sandbox game
Exec=sh -c 'cd "$(dirname "$1")" && exec ./Autonocraft' dummy %k
Terminal=false
Categories=Game;
